.header__menu {
  display: flex;

  &-button {
    display: flex;
    align-items: center;
    column-gap: 20px;

    & .react-svg {
      transition: 0.3s;
    }

    &:hover {
      & .react-svg {
        rotate: 45deg;
      }
    }

    &.is-active {
      & .react-svg {
        rotate: 135deg;
      }
    }

    @media (max-width: 1025px) {
      justify-content: center;
    }
  }

  &-wrapper {
    margin-right: auto;
    @media (max-width: 1025px) {
      margin: 0;
    }

  }

  &-list {
    @media (max-width: 1025px) {
      flex-direction: column;
      row-gap: inherit;
    }
  }

  @media (max-width: 1025px) {
    flex-direction: column;
    row-gap: inherit;
  }
}