.header__menu {
  display: flex;

  &-button {
    display: flex;
    align-items: center;
    column-gap: 20px;

    & .react-svg {
      transition: 0.3s;
    }

    &:hover {
      & .react-svg {
        rotate: 10deg;
      }
    }

    &.is-active {
      & .react-svg {
        rotate: 45deg;
      }
    }
  }

  &-button-wrapper {
    margin-right: auto;
  }
}