.social-group {
  display: flex;
  align-items: center;
  column-gap: 15px;

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);

    &:hover {
      background-color: #FFFFFF;
    }
  }
}