.notification__item {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 15px;
  max-width: 320px;
  border-radius: 8px;
  box-shadow: 1px -1px 18px 0px rgba(34, 60, 80, 0.2);
  background-color: #FFFFFF;
  padding: 15px;
  transition: 0.3s;

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transform: translateX(-10%);
    }
  }

  &-enter {
    opacity: 0;
    transform: translateX(-10%);

    &-active {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}