.header {
  padding-top: 40px;

  @media (max-width: 1025px) {
    padding: 0;
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #FFE17F;
  }

  &__inner {
    @media (max-width: 1025px) {
      height: 100%;
    }
  }

  &__body {
    --header-padding-inline: 60px;
    position: relative;
    padding: 46px var(--header-padding-inline) 14px var(--header-padding-inline);
    background-color: #FFE17F;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width: 1025px) {
      height: 100%;
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    transform: translateY(-50%);

    @media (max-width: 1025px) {
      position: relative;
      left: 0;
      transform: translate(0, 0);
    }
  }
}
