.catalog-path {
  padding-top: 35px;
  padding-bottom: 35px;

  &__body {
    display: grid;
    row-gap: 16px;
  }

  &__list {
    display: flex;
    column-gap: 36px;
    row-gap: 16px;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    position: relative;
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -18px;
      width: 4px;
      height: 8px;
      background: url("~@shared/assets/icons/arrow.svg");
      transform: translate(50%,-50%);
      opacity: 0.5;
    }
  }

  &__link {
    color: #000000;
  }
}