.error-page {
  height: 100%;

  &__body {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    row-gap: 5px;
  }
}