.tooltip {
  position: relative;

  &__body {
    position: absolute;
    transform: translate(-44%,100%);
    z-index: 3;
    bottom: -10px;
    left: 0;
    background-color: #000000;
    transition: 0.3s;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border: 7px solid transparent;
      border-bottom: 6px solid #000000;
      transform: translate(-50%,-100%);
    }
  }

  &:not(.is-active) {
    & .tooltip__body {
      visibility: hidden;
      bottom: -20px;
      opacity: 0;
    }
  }
}