.drop-down {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  background-color: #FFE17F;
  padding-bottom: 60px;
  transition: 0.35s;

  &:not(.is-active) {
    visibility: hidden;
    bottom: 25px;
    opacity: 0;
  }

  &__list {
    padding-inline: var(--header-padding-inline);
    display: grid;
    grid-template-columns: repeat(3, 222px);
    row-gap: 18px;
    column-gap: 30px;
  }

  &__item {
    &:nth-child(5) + &:last-child {
      grid-column: 1/2;
    }
  }

  &__link {
    --link-undreline-width: 35%;
    color: #000000;
    line-height: 18px;
    transition: 0.3s;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      background-color: #000000;
      height: 3px;
      width: var(--link-undreline-width);
      transition: width 0.3s;
    }

    &:not(:hover):after {
      width: 0;
    }

    &.active:after {
      width: var(--link-undreline-width);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}